workflows/test-http-request.json
{
  "name": "Test: HTTP Request Node",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "test/http",
        "options": {}
      },
      "id": "webhook-http",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "test-http"
    },
    {
      "parameters": {
        "url": "https://httpbin.org/get",
        "options": {}
      },
      "id": "http-request",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"test\":\"http_request\",\"success\":true,\"url\":\"{{ $json.url }}\"}",
        "options": {}
      },
      "id": "respond-http",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "tags": []
}
